<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--引入外部样式-->
<link rel="stylesheet" href="css/index.css" type="text/css"/>
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript">
    $(function(){
        alert(1111);
    });
</script>
<body>
    <img src="images/new_01.jpg"/>
    <div>
        <span th:text="${name}">名字</span>-<span th:text="${sex}">性别</span>
    </div>

    <!--lombok测试-->
    <div>
        <span th:text="${loginUser.uname}"></span>
        <span th:text="${loginUser.upwd}"></span>
    </div>
</body>
</html>